

<div class="d-flex flex-column justify-content-center align-items-center bg-dark text-light">
    <h1>Usage</h1>
    <h2>www.instagram.com/reel/DI7lbbuTa4H</h2>
    <h2>To</h2>
    <h2>www.<span class="text-danger fw-bold">vx</span>instagram.com/reel/DI7lbbuTa4H</h2>

</div>

