

<div class="d-flex flex-column justify-content-center align-items-center bg-dark text-light">
    <h1>Usage</h1>
    <h4>www.instagram.com/reel/DI7lbbuTa4H</h4>
    <h4>To</h4>
    <h4>www.<span class="text-danger fw-bold">vx</span>instagram.com/reel/DI7lbbuTa4H</h4>

</div>

