<div class="d-flex border-bottom border-secondary p-4 align-items-center justify-content-between shadow">
    <div>

        <div class="text-secondary">InstagramEmbed by <a href="https://github.com/Lainmode/InstagramEmbedForDiscord" target="_blank">Lainmode</a></div>
        <div class="text-secondary">Twitter <a href="https://twitter.com/realalita" target="_blank">@@realAlita</a></div>
    </div>

    <a target="_blank" href="https://www.buymeacoffee.com/alsauce"><img class="mb-2" style="height:2.5rem" src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=alsauce&button_colour=954b89&font_colour=ffffff&font_family=Cookie&outline_colour=ffffff&coffee_colour=FFDD00" /></a>

</div>

<div class="container p-5">

    <div class="card border-0 bg-black border-0 shadow mx-auto">
        <div class="card-body bg-black text-light border-start border-primary border-5 rounded-3 p-5">
            <h4>Usage (Reel/Post/Album)</h4>
            <h6>www.instagram.com/reel/DI7lbbuTa4H</h6>
            <h6>To</h6>
            <h6>www.<span class="text-danger fw-bold">vx</span>instagram.com/reel/DI7lbbuTa4H</h6>
            <hr class="my-5"/>
            <h4>Usage (One item in album)</h4>
            <h6>www.instagram.com/reel/DI7lbbuTa4H</h6>
            <h6>To</h6>
            <h6>www.<span class="text-danger fw-bold">vx</span>instagram.com/reel/DI7lbbuTa4H<span class="text-danger fw-bold">/1/</span></h6>
        </div>

    </div>
   
  
</div>

