<div class="d-flex border-bottom border-secondary p-4 align-items-center justify-content-between shadow">
    <div>

        <div class="text-secondary">InstagramEmbed by <a href="https://github.com/Lainmode/InstagramEmbedForDiscord" target="_blank">Lainmode</a></div>
        <div class="text-secondary">Twitter <a href="https://twitter.com/realalita" target="_blank">@@realAlita</a></div>
    </div>

    <a target="_blank" href="https://www.buymeacoffee.com/alsauce"><img class="mb-2" style="height:2.5rem" src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=alsauce&button_colour=954b89&font_colour=ffffff&font_family=Cookie&outline_colour=ffffff&coffee_colour=FFDD00" /></a>

</div>

<div class="container p-0 py-5 px-2 p-md-5 ">
    <h5>Supports</h5>
    <div class="card border-0 bg-black border-0 shadow mx-auto mb-4">
        <div class="card-body bg-black text-light border-start border-success border-5 rounded-3 p-4">
            <div>✅ Posts (www.instagram.com/p)</div>
            <div>✅ Reels (www.instagram.com/reel(s))</div>
            <div>✅ Stories (www.instagram.com/stories/username)</div>
            <div>✅ Albums (www.instagram.com/p/)</div>
            <div>✅ User Posts (www.instagram.com/username/p)</div>
            <div>✅ Share (www.instagram.com/share/p)</div>
            <div>✅ Singular Media in Album (www.instagram.com/p/[hash]/1)</div>
            <div>✅ With or Without Post Details (vxinstagram.com / d.vxinstagram.com)</div>
        </div>
    </div>

            <h5>Basic Usage</h5>
    <div class="card border-0 bg-black border-0 shadow mx-auto mb-4">
        <div class="card-body bg-black text-light border-start border-primary border-5 rounded-3 p-4 d-flex flex-column gap-5">
            <div class="bg-dark py-3 px-2 rounded-2">

            <h6>Without Post Details</h6>
            <hr />

            <div>
                www.instagram.com/reel/:hash/
            </div>
            <div class="mb-0 text-info d-flex"><p class="invisible">www.</p><h2 class="mb-0">↓</h2></div>
            <div>
                www.<span class="text-info fw-bold">vx</span>instagram.com/p/:hash/
            </div>

            </div>
            <div class="bg-dark py-3 px-2 rounded-2" >
            <h6 class="mb-0">With Post Details</h6>
            <hr />

            <div>
                www.instagram.com/reel/:hash/
            </div>
            <div class="mb-0 text-info d-flex"><p class="invisible">www.d</p><h2 class="mb-0">↓</h2></div>
            <div>
                www.<span class="text-info fw-bold">d.vx</span>instagram.com/p/:hash/
            </div>
            </div>
        </div>
    </div>


    <h5>Media Index</h5>
    <div class="card border-0 bg-black border-0 shadow mx-auto mb-4">
        <div class="card-body bg-black text-light border-start border-primary border-5 rounded-3 p-4 d-flex flex-column gap-5">
          
            <div class="bg-dark py-3 px-2 rounded-2">
                <h6>Retrieves a specific media item from an album</h6>

                <hr />

                <div>
                    www.vxinstagram.com/p/:hash/
                </div>
    
                <div class="mb-0 text-info d-flex"><p class="invisible">www.vxinstagram.com/p/:hash/</p><h2 class="mb-0">↓</h2></div>
                <div>
                    www.vxinstagram.com/p/:hash<span class="text-info fw-bold">/1/</span>
                </div>
            </div>

            <div class="bg-dark py-3 px-2 rounded-2">
                <h6>Retrieves a specific media item from stories</h6>

                <hr />

  
                <div>
                    www.vxinstagram.com/stories/username/:hash/
                </div>
                <div class="mb-0 text-info d-flex"><p class="invisible">www.vxinstagram.com/stories/username/:hash/</p><h2 class="mb-0">↓</h2></div>
                <div>
                    www.vxinstagram.com/stories/username/:hash<span class="text-info fw-bold">/1/</span>
                </div>
            </div>
        </div>
    </div>


   
  
</div>

