@model string[]
@{
    Layout = null;
    string contentUrl = Model[0];
    string thumbnailUrl = Model[1];
    string url = Model[2];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="video.other" />
    <meta property="og:video" content="@contentUrl" />
    <meta property="og:video:secure_url" content="@contentUrl" />
    <meta property="og:video:type" content="video/mp4" />
    <meta name="twitter:player" content="@url" />
    
    <title>InstagramEmbed</title>
</head>
<body class=" d-flex-column p-4 bg-dark text-light align-items-center">
    <a target="_blank" href="https://www.buymeacoffee.com/alsauce"><img class="mb-2" style="height:2.5rem" src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=alsauce&button_colour=954b89&font_colour=ffffff&font_family=Cookie&outline_colour=ffffff&coffee_colour=FFDD00" /></a>
<div class="d-flex flex-column justify-content-center">
    <div class="col-lg-3 col-md-6 col-sm-8 col-11 mx-auto card card-body my-auto shadow px-0 py-0 bg-dark text-light" style="height:fit-content;flex:0;border-radius:1rem">
        <div class="media-container w-100">
            <video class="post-media w-100" style="aspect-ratio:5/6; object-fit:cover;  border-top-left-radius: 1rem; border-top-right-radius:1rem;" controls>
                <source src="@contentUrl}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="content">
            <div class="d-flex flex-column p-3 pb-0 gap-2">
                <button class="btn btn-success"
                        onclick="window.location.href='@contentUrl'">
                    Download Post
                </button>
                <button class="btn btn-primary"
                        onclick="window.location.href='@url'">
                    View Original Post
                </button>
            </div>
        </div>
        <div class="text-secondary px-3 mt-2">InstagramEmbed by <a href="https://github.com/Lainmode/InstagramEmbedForDiscord" target="_blank">Lainmode</a></div>
        <div class="text-secondary px-3 pb-2">Twitter <a href="https://twitter.com/realalita" target="_blank">@@realAlita</a></div>
   
    </div>
    </div>
</body>
</html>